    <div id="experience" class="experience-container">
        <h1>My Experience</h1>
        <div ngbAccordion class="card-container">
          <div
            ngbAccordionItem 
            [collapsed]="true"
            *ngFor="let experience of experiences"
            class="card"
            >
            <h2 ngbAccordionHeader class="card-header">
              <div class="card-header-button">
                <button ngbAccordionButton>{{experience.title}}  ({{experience.years}})</button>
              </div>
              
            </h2>
            <div ngbAccordionCollapse>
             <div ngbAccordionBody class="card-body">
              <ng-template>
                {{experience.description}}
              </ng-template>
             </div>
            </div>
          </div>
        </div>
      </div>