/* Footer container */
.footer {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    padding: 20px;
    text-align: center;
  }
  
  /* Footer links */
  .footer a {
    color: #007bff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 24px;
  }
  
  /* Footer email */
  .footer span {
    font-style: italic;
    margin-left: 15px;
    color: #fff;
    font-size: 24px;
  }

  
  @media (max-width: 576px) {
    .footer {
      padding: 10px;
    }
    .footer a {
      display: block;
      margin-bottom: 5px;
    }
    .footer span {
      display: block;
    }
  }
  